<!-- modal phục hồi thành công-->
<div class="modal fade docs-cropped in" id="ModalRestore" tabindex="-1" role="dialog" aria-labelledby="getCroppedCanvasTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="getCroppedCanvasTitle">Phục hồi</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 0px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:15px;font-size:18px;">Phục hồi thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer" style="border-top:0px; padding:15px 0px 0px 0px;">
                    <button data-dismiss="modal" class="btn btn-primary">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal phục hồi thành công -->

<!-- modal Xóa vĩnh viễn thành công-->
<div class="modal fade docs-cropped in" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="getCroppedCanvasTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width:400px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="getCroppedCanvasTitle">Xóa vĩnh viễn</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 0px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:15px;font-size:18px;">Xóa vĩnh viễn thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer" style="border-top:0px; padding:15px 0px 0px 0px;">
                    <button data-dismiss="modal" class="btn btn-primary">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal Xóa vĩnh viễn thành công -->
