@using shopthethao.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Tài khoản <small>Danh sách tài khoản</small></h3>
            </div>
            <!-- <div class="title_right">
            </div> -->
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <button type="button" class="btn btn-round btn-primary">Thêm mới</button>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>

                                <tr>
                                    <th>Họ tên</th>
                                    <th>Tên đăng nhập</th>
                                    <th>Email</th>
                                    <th>Loại nhân viên</th>
                                    <th style="width: 105px;">Thao tác</th>
                                </tr>
                            </thead>

                            <tbody>
                            @foreach (var item in Model as List<Admin>)
                            {
                                <tr>
                                    <td>@item.TenHienThi</td>
                                    <td>@item.TaiKhoanAdmin</td>
                                    <td>@item.Email</td>
                                    <td><button type="button" class="btn btn-success btn-xs">@item.LoaiAdmin.TenLoaiAdmin</button></td>
                                    <td>
                                        <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Sửa </a>
                                        <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Xóa </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

