<!-- Modal thong bao dang nhap thanh cong-->
<div class="modal fade" id="SuLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 50px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:20px;font-size:18px;">Đăng nhập thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" style="background-color:#fe980f;color:white;">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal thong bao dang nhap thanh cong -->

<!-- Modal thong bao dang ky thanh cong-->
<div class="modal fade" id="SuRegis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 50px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:20px;font-size:18px;">Đăng ký thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" style="background-color:#fe980f;color:white;">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal thong bao dang ký thanh cong -->

<!-- /modal thong bao thanh toan thất bại -->
<div class="modal fade" id="ErrPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 50px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:20px;font-size:18px;">Thanh toán thất bại!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" style="background-color:#fe980f;color:white;">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal thong bao thanh toan thất bại -->

<!-- Modal thong bao thanh toán thanh cong-->
<div class="modal fade" id="SuPayment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 50px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:20px;font-size:18px;">Thanh toán thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" style="background-color:#fe980f;color:white;">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal thong bao thanh toán thanh cong -->

<!-- Modal thong bao thanh toán thanh cong-->
<div class="modal fade" id="ChangeProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog-login" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div style="padding:5px 25px;">
                    <img src="~/Assets/Client/images/home/success.png" />
                    <label style="padding-left:20px;font-size:18px;">Thay đổi thông tin thành công!</label>
                </div>
                <!-- /.box -->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" style="background-color:#fe980f;color:white;">Thoát</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal thong bao thanh toán thanh cong -->
