
@{
    ViewBag.Title = "Index";
}

<div class="container text-center"style="padding-bottom:40px;">
    <div class="logo-404">
        <a href="@Url.Action("Index","Home")"><img src="/Assets/Client/images/home/logo.png" alt="" /></a>
    </div>
    <div class="content-404">
        <img src="/Assets/Client/images/404/404.png" class="img-responsive" alt="" />
        <h1><b>Xin lỗi!</b> Không tìm thấy trang bạn yêu cầu</h1>
        <h2><a href="@Url.Action("Index","Home")">Trở về trang chủ</a></h2>
    </div>
</div>

